<div class="container pt-4 mt-5">
    <div class="card">
      <div class="card-body">
        <h2>Iniciar sesión</h2>
        <form (ngSubmit)="login()">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" id="nombre" [(ngModel)]="user.nombre" name="nombre" required class="form-control">
          </div>
          <div class="mb-3">
            <label for="contrasena" class="form-label">Contrasena:</label>
            <input type="password" id="contrasena" [(ngModel)]="user.contrasena" name="contrasena" required class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
      </div>
    </div>
  </div>
  