<div class="container pt-4 mt-5">
    <div class="card custom-card">
        <div class="card-body">
            <div class="text-center">
                <h2>{{ isEditing ? 'Editar' : 'Crear' }} Usuario</h2>
                <form (ngSubmit)="saveUser()">
                    <input type="hidden" [(ngModel)]="user.id" name="id">
                    <div class="mb-3">
                        <label for="name" class="form-label custom-label">Nombre:</label>
                        <input type="text" name="name" id="name" [(ngModel)]="user.name" required class="form-control custom-input">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label custom-label">Email:</label>
                        <input type="email" name="email" id="email" [(ngModel)]="user.email" required class="form-control custom-input">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label custom-label">Teléfono:</label>
                        <input type="text" name="phone" id="phone" [(ngModel)]="user.phone" required class="form-control custom-input">
                    </div>
                    <button type="submit" class="btn btn-success mx-2">{{ isEditing ? 'Actualizar' : 'Guardar' }}</button>
                    <button type="button" (click)="resetForm()" class="btn btn-info">Limpiar</button>
                </form>
            </div>
        </div>
    </div>
</div>